
    <section class="aboutus-banner">
        <div class="container-1400">
            <h2>Who We Are?</h2>
            <p>We are your strategic partner
                <br>For the globalization of health!
            </p>
        </div>
    </section>
    <section class="aboutus-content">
        <div class="container-1400">
            <p class="description">
                Farmalisa has established by an experienced team having more than 10 years experiences in the pharmaceutical market and is a fast growing company in the international market by having a pharma wholesaler company in Turkey (named ilkayeczadeposu), offices in Istanbul and Tehran. (Associates in Ukraine, Romania, Bosnia, Slovenia, Bulgaria will come soon).
                <br>
                <br> We happily invite you to visit our facility and warehouse in Istanbul where equipped well to store sensitive pharmaceutical products and it would be our pleasure to be in contact with you to negotiate about possible cooperation. As a registered pharmaceutical company we are ready to offer our services including:
                <br>&bull;&nbsp; Exporting branded medicines available in Turkey, Europe, India, North America, …
                <br>&bull;&nbsp; Exporting generic and local Turkish medicines
                <br>&bull;&nbsp; Introducing and selling your products in Markets we have office.
                <br>&bull;&nbsp; Trading chemicals, cosmetics and food products.
                <br>&bull;&nbsp; Transiting goods and sourcing your needs. Everything you expect from your strategic partner.
                <br>Our staffs are experienced in international business and speak English, Turkish, Farsi, Azeri and French.
            </p>
        </div>
        <div class="green-bg" id="mission">
            <div class="triangle-white-top"></div>
            <div class="container">
                <h3>Mission</h3>
                <p>
                    Demand and supply in the healthcare market is not distributed uniformly because of variety of policies, pricing, population and disease in different countries. Our mission is to provide the right product at the right place at the right time.
                </p>
            </div>
            <div class="triangle-white-bottom"></div>
        </div>
        <div class="white-bg" id="vision">
            <div class="container">
                <h3>Vision</h3>
                <p>Our vision is having strategic partners in the whole world. Then not any health product will remain unknown and not any patient will be worry of availability of medicine.</p>
            </div>
        </div>
        <div class="blue-bg" id="suppliers">
            <div class="triangle-white-top"></div>
            <div class="container">
                <h3>Our Suppliers</h3>
                <p>
                    <span>international pharmaceutical manufacturers such as Bayer, Pfizer, Sanofi, …</span>
                    <span>Turkish manufacturers such as Kocak, Abdi Ibrahim, Deva, World Medicines, …</span>
                    <span>Turkish biggest distributors like Hedef, Selcuk, …</span>
                    <span>Other well-known pharmaceutical wholesalers world wide</span>
                </p>
            </div>
            <div class="triangle-white-bottom"></div>
        </div>
        <div class="white-bg" id="facilities">
            <div class="container">
                <h3 class="blue">Our facilities</h3>
                <p>
                    <span class="bold">Warehouse:</span> we have 300 m2 storing area located in the business part of European part of Istanbul near to Ataturk airport equipped by all necessary equipment for storing pharmaceuticals such as cold chain, temperature control, medicine following system, …
                    <br><span class="bold">Global Partners:</span> by having subsidiary and affiliate offices around the world we can closely contact our customers to find their needs and offer them our products. We now have our own branch in Iran and affiliated in Bulgaria, Romania, Ukraine and Bosnia.
                    <br><span class="bold">Our team:</span> by having experienced members in local and international market able to speak in English, French, Farsi, Turkish and Azeri, our team is a big advantage.
                </p>
            </div>
        </div>
