    <footer>
        <div class="container">
            Farmalisa © 2017 All Rights Reserved.
            <ul class="footer-menu">
                <li><a href="/">Home</a></li>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="products/pharma">Products</a></li>
                <li><a href="partners">Our Partners</a></li>
                <li><a href="gallery">Gallery</a></li>
                <li><a href="contactus">Contact Us </a></li>
            </ul>
        </div>
    </footer>