<div class="products" ng-controller="productCtrl">
    <div class="container">
        <h2 class="product-title">Some Products Which Can Be Offered By Us And There Are More</h2>
        <div class="company" ng-repeat="company in companies.company">
            <a data-toggle="collapse" href="#company{{$index}}" aria-expanded="false" aria-controls="company{{$index}}" ><img src="images/{{company.logo}}" class="company-img" alt="Farmalisa | {{company.name}}" title="Farmalisa | {{company.name}}" /></a>
            <ul class="product-list " id="company{{$index}}">
                <li ng-repeat="item in company.products">
                    {{item}}
                </li>
            </ul>
        </div>
    </div>

</div>
<div ng-include="'views/contactus-widget.html'"></div>
