    <section class="home-who-we-are">
        <div class="container">
            <h2 class="home-heading">REFERENCE STANDARDS</h2>
            <div class="col-lg-10 col-lg-push-1">
                <div class="row">
                    <p class="block-content">
                    <span class="bold">REFERENCE STANDARDS</span><br>
                        If you require reference standards or pharmaceutical standards, Chem-Supply is able to provide you with products from USP, EP and BP for pharmaceutical testing along with your requirements for AA, ICP and other reference materials. We can obtain standards you need for environmental testing including PAH, pesticides and fuels.
                    </p>
                </div>
            </div>
        </div>
    </section>
            <div ng-include="'views/contactus-widget.html'"></div>