    <section class="home-who-we-are">
        <div class="container">
            <h2 class="home-heading">EVERYTHING YOU EXPECT FROM YOUR STRATEGIC PARTNER</h2>
            <div class="col-lg-10 col-lg-push-1">
                <div class="row">
                    <p class="block-content">
                        For companies aim to run an international business, the best method is making strategic partner in the target market. This partnership may include Marketing, Supply Chain, Integration, Technology, Financial and Information. Benefits both parts will derive from new strategic partnership are:
                        <span class="product-list-service">1. Acquire New Customers</span>
                        <span class="product-list-service">2. Increase Revenue</span>
                        <span class="product-list-service">3. Expand Geographic Reach</span>
                        <span class="product-list-service">4. Extend Product Lines</span>
                        <span class="product-list-service">5. Access New Technologies and IP</span>
                        <span class="product-list-service">6. Add Sharing Resources</span>
                        <span class="product-list-service">7.  Gaining information from target market</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'views/contactus-widget.html'"></div>