    <section class="home-who-we-are">
        <div class="container">
            <h2 class="home-heading">ACTIVE PHARMACEUTICAL INGREDIENTS (API) AND EXCIPIENTS</h2>
            <div class="col-lg-10 col-lg-push-1">
                <div class="row">
                    <p class="block-content">As an international trading company dealing with pharmaceutical companies worldwide you can count us for finding best source for you. Our advantages in sourcing API, Intermediates and Excipients are:
                        <span class="product-list-service">•&nbsp; Worldwide reliable sources of APIs </span>
                        <span class="product-list-service">•&nbsp; Current valid documentation (GMP, ASMF, DMF, CEP, BSE, TSE, MSDS, OVI, etc.)  </span>
                        <span class="product-list-service">•&nbsp; Permission for the handling with narcotic, psychotropic and dangerous chemicals </span>
                        <span class="product-list-service">•&nbsp; Own warehouse in Turkey </span>
                        <span class="product-list-service">•&nbsp; Having offices and subsidiaries in more than 10 countries </span>
                        <span class="product-list-service">•&nbsp; Representation of the foreign companies </span>
                        <span class="product-list-service">•&nbsp; Services for the arrangement of samples, working standards, impurities, etc. </span>
                    </p>
                </div>
            </div>
        </div>
    </section>
        <div ng-include="'views/contactus-widget.html'"></div>