<section class="home-who-we-are">
    <div class="container">
        <h2 class="home-heading">EXPORTING GENERICS AND LOCAL MEDICINES</h2>
        <div class="col-lg-10 col-lg-push-1">
            <div class="row">
                <p class="block-content">In some cases customers prefer to buy generics because of price and availability advantage. Beside branded medicines there are lot of generics made by well-known manufacturers in Turkey, Europe, America, India, … As a registered parallel trader we are permitted to buy generics from all part of the world and export it to customer.
                </p>
            </div>
        </div>
    </div>
</section>
<div ng-include="'views/contactus-widget.html'"></div>
