    <section class="home-who-we-are">
        <div class="container">
            <h2 class="home-heading">TRADING AND SOURCING CHEMICALS, COSMETICS AND FOOD PRODUCTS</h2>
            <div class="col-lg-10 col-lg-push-1">
                <div class="row">
                    <p class="block-content"><span class="bold">CHEMICALS</span><br>
                    We supply a variety of chemicals available in various grades, Analytical Reagent (AR), Chemically Pure (CP), Technical Grade as well as Pharmaceutical and Food Grades by well-known brands including Acros, Carlo Erba, Fluka, J.T.Baker, Lab-Scan, Merck, Sigma-Aldrich.
                    <br><br><span class="bold">Some of our common products are:</span>
                            <span class="product-list-service">• Xylene</span>
                            <span class="product-list-service">• Absolute Ethanol</span>
                            <span class="product-list-service">• Formalin</span>
                            <span class="product-list-service">• Methanol</span>
                            <span class="product-list-service">• Chloroform</span>
                            <span class="product-list-service">• Isoproponol</span>
                            <span class="product-list-service">• Diethyl Ether</span>
                            <span class="product-list-service">• Hexane</span>
                            <span class="product-list-service">• Petroleum Ether</span>
                            <span class="product-list-service">• Dichloro Methane</span>
                            <span class="product-list-service">• Ethyl Acetate</span>
                            <span class="product-list-service">• Acetone</span>
                            <span class="product-list-service">• Phenol</span>
                            <span class="product-list-service">• Pentane</span>
                            <span class="product-list-service">• Heptane</span>
                            <span class="product-list-service">• ButanolSulpheric Acid</span>
                            <span class="product-list-service">• Hydrochloric Acid</span>
                            <span class="product-list-service">• Nitric Acid</span>
                            <span class="product-list-service">• Formic Acid</span>
                            <span class="product-list-service">• Sodium Hydroxide</span>
                            <span class="product-list-service">• Hydrogen Peroxide</span>
                            <span class="product-list-service">• Ammonia</span>
                            <br><br>
                        <span class="bold">COSMETICS AND FOOD PRODUCTS</span><br>
                        As a producer of cosmetics and food products if you are looking for a partner to introduce your product to the world better and as a distributor if you are looking for a suitable product for your portfolio try contacting us.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'views/contactus-widget.html'"></div>